#logo-img{
    margin: 1.5rem;
    width: 6rem;
    border-radius: 100%;
}
.header-login, .main-login{
    display: flex;
    justify-content: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-login, .input-login{
    display: block;
    width: 90%;
}

.input-login{
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: solid 1px rgb(163, 163, 163);
    font-size: small;
}

.label-login{
    margin-bottom: 0.3rem;
    font-size: small;
    font-weight: bold;
}

.inputs{
    margin-top: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#acessar{
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    font-weight: bold;
}

.container-principal{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 25rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
}

#cadastrar{
    margin: 1rem;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

#esqueci-senha{
    margin-top: 1rem;
    color: blue;
    text-decoration: none;
    font-size: small;
}

.btn-login{
    padding: 1rem;
    width: 12rem;;
    border-radius: 1.5rem;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 2.5rem;
    font-weight: bold;
}

@media (max-width: 990px){
    .container-principal{
        width: 80%;
    }
}

@media (max-width: 300px){
    #btn-acessar{
        width: 10rem;
    }

    img{
        width: 5rem;
    }
}